<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Analyzer</title>
</head>
<body>
<h1> Text Analyzer </h1>
<form action="/analyze" method="get">
    <textarea name="textarea" style="width: 662px; height: 173px;"></textarea><br>
    <input type="checkbox" name="cbRemovepunc">Remove Punctuations</input><br>
    <input type="checkbox" name="cbFullcaps">UPPERCASE</input><BR>
    <input type="checkbox" name="cbExtraspacerem">Remove Extra Space</input><BR>
    <input type="checkbox" name="cbNewlinerem">Remove New Line</input><BR>
    <input type="checkbox" name="cbCharcount">Count Characters</input><BR>
    <button type="submit">Analyze</button>
</form>
</body>
</html>